extends layout.pug

block content
    - var monthNames = ["janeiro", "fevereiro", "março", "abril", "maio", "junho","julho", "agosto", "setembro", "outubro", "novembro", "dezembro"]

    - var pad = function pad(num, size) {
    -        var s = "000000000" + num;
    -       return s.substr(s.length-size);
    - }
    if notice_not_found 
        p A noticia ainda não foi impressa
    else
        article
            main 
                |!{content}
            span
                time(datetime=date) Postado #{pad(date.getUTCDate(), 2)} de #{monthNames[date.getMonth()]} de #{date.getFullYear()}